<h1>Hé ouais</h1>
<p>Trop la classe !!!!</p>
<p>{{ 5 + 5 }}</p>
<p>{{ title }} -> {{ prenom }}</p>

<p>{{ personne.prenom }}</p>

<input (input)="onChangePrenom($event)" type="text" [value]="prenom" />
<button (click)="leNomFonction()">Un bouton qui clique</button>
<button (click)="resetPrenom($event)">Réinitialiser prénom</button>

<!-- Remplace le (input) grâce au module FormsModule -->
<input type="text" [(ngModel)]="prenom" />

<hr />

<select [(ngModel)]="couleur">
  <option value="black">Noire</option>
  <option value="red">Rouge</option>
  <option value="blue">Bleue</option>
  <option value="yellow">Jaune</option>
  <option value="orange">Orange</option>
</select>

<input type="color" [(ngModel)]="couleur2" />

<p [style.color]="couleur" [style.background]="couleur2">Avec un texte bidon à l'intérieur du paragraphe...</p>

<hr />

<input type="text" [(ngModel)]="produit.nom" />
<input type="number" [(ngModel)]="produit.prix" />

<p>Création du produit "{{ produit.nom }}", d'un prix de {{ produit.prix }} euros.</p>

<button (click)="ajouterProduit()">Ajouter</button>
<button (click)="resetProduit()">Réinitialiser</button>

<hr />

<input type="number" [(ngModel)]="todo.id" />
<input type="text" [(ngModel)]="todo.title" />
<input type="checkbox" [(ngModel)]="todo.completed" />

<p [ngClass]="{ 'not-completed': !todo.completed }">{{ todo.title }}</p>
<p [class.not-completed]="!todo.completed">{{ todo.title }}</p>

<button (click)="ajouterTodo()">Ajouter</button>


<hr />

<ng-template [ngIf]="todo.completed">
  <p>TODO COMPLET !!</p>
</ng-template>

<!-- L'étoile est un raccourci au ng-template -->
<p *ngIf="todo.completed">TODO COMPLET !!</p>

<hr />

<button (click)="resetTodos()">Réinitialiser les Todos</button>
<sost-list-todos></sost-list-todos>

<hr />
<app-demo [titre]="todo.title" [todo]="todo">CONTENU</app-demo>
<hr />

<sost-bold>
  <span class="prefix">Et donc maintenant :</span>
  <span gras>Un texte en gras !!</span>
</sost-bold>

<hr />

<sost-text-field label="Nom d'utilisateur"></sost-text-field>
<sost-text-field label="Mot de passe"></sost-text-field>
<sost-text-field label="Adresse e-mail"></sost-text-field>