.paragraphe-rouge {
    color: red;
    border: solid 10px green;
    font-size: 40px;
    font-weight: bold;
    width: 350px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}


div ~ p {
    color: hsla(240, 100%, 50%, 0.288);
}


[type="email"] {
    color: red;
}

:root {
    font-size: 40px;
}

div.btn {
    font-size: 1.5rem;
    background-color: hsl(334, 91%, 51%);
}

div.btn:hover {
    background-color: hsl(334, 91%, 31%);
}



div.btn.btn-small {
    height: 20px;
    width: 150px;
}